"*":
  "atom-beautify":
    general:
      _analyticsUserId: "1f84da7a-2ff7-495a-89d6-c99fa4f9287a"
  core:
    audioBeep: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "SF Mono"
    invisibles: {}
  "exception-reporting":
    userId: "f383d6b9-4705-9554-68f7-7dc86f4a5e94"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  fonts:
    fontFamily: "Inconsolata-g"
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    panelDisplayMode: "closed"
  linter: {}
  metrics:
    userId: "16b046919e2d902a6b8ea5f452abdee60a7073bd"
  nuclide:
    remoteProjectsConfig: []
  term3:
    fontFamily: "Menlo"
    fontSize: "14"
  welcome:
    showOnStartup: false
